/*body{
	font-family: 'Lato', sans-serif;
}
.mynav{
	background-color: rgba(0,0,0,0.9);
	height:70px;
	
}

.m-navbar li{
	display: inline-block;
	margin-left:40px;
	margin-top: 0;
}
.m-navbar li a{
	color: white;
	text-decoration: none;
	
}
.m-navbar li a img{
	height:120px;
}
*/
body,html{
	margin:0;
	font:1em "Lato", sans-serif;
}

.content{
	padding:30px;
}

.nav-main{
	width:100%;
	background-color:rgba(0,0,0,0.8);
	height: 70px;
	color:#fff;
}
.logo{
	float: left;
	height:40px;
	padding: 0 30px;
	font-size: 1.8em;
	line-height: 40px;
}
.logo img{
	max-height:130px;
	margin-top: -24px;
}
.nav-main > ul{
	margin:0;
	padding:0;
	float: left;
	list-style-type: none;
}
.nav-main > ul >li {
	float: left;
}
.nav-item{
	display: inline-block;
	padding:15px 20px;
	height:40px;
	line-height: 40px;
	text-decoration:none;
	color:#fff;
	font-size: 1em;
}
.nav-item:hover{
	color:#f0cc56;
	cursor: pointer;
}

.nav-content{
	position: absolute;
	top:70px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	max-height:0;
}
.nav-content a{
	color: #fff;
	text-decoration: none;
}
.nav-content a:hover{
	text-decoration: underline;
}
.nav-sub{
	padding: 20px;
}
.nav-sub ul{
	padding:0;
	margin:0;
	list-style-type: none;
}
.nav-sub ul li a{
	display: inline-block;
	padding: 5px 0;
}
.nav-item:focus{
	
}
.nav-item:focus ~ .nav-content{
	max-height: 400px;
	-webkit-transition: max-height 0.5s ease-in;
	-moz-transition: max-height 0.5s ease-in;
	transition: max-height 0.5s ease-in;
}
.nav-right{
	float:right;
	width:25%;
	height:70px;
	line-height:70px;
}
.nav-right li{
	display: inline-block;
	margin-left:20px;
}
.nav-right a{
	color:white;
}
.login-box{
	margin-right:0;
}
.main-image{
	background-image: url(../img/slider-2.jpeg);
	height:100vh;
	background-size:cover;
}
.main-image h1{
	font-size:50px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:100vh;
	color:yellow;
	margin:0;
}
	
/*-- login --*/

.login-form-grids{
	width: 45%;
    padding: 3em;
	background:#F7F7F9;
	margin:3em auto 0;
}
.login-form-grids input[type="email"],.login-form-grids input[type="password"],.login-form-grids input[type="text"]{
	outline: none;
    border: 1px solid #DBDBDB;
    padding: 10px 10px 10px 45px;
    font-size: 14px;
    color: #999;
    display: block;
    width: 100%;
}
.login-form-grids input[type="email"]{
	background:url(../images/img-sp.png) no-repeat 5px -182px #fff;
}
.login-form-grids input[type="password"]{
	background:url(../images/img-sp.png) no-repeat 5px -220px #fff;
	margin:1em 0 0;
}
.forgot {
    margin: 1.5em 0 0;
}
.login-form-grids input[type="submit"]{
	outline: none;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    display: block;
    width: 100%;
    background:#FFC229;
    margin: 1.5em 0 0;
}
.login-form-grids input[type="submit"]:hover{
	background:#d8703f;
}
.login-form-grids ::-webkit-input-placeholder{
	color:#999;
}
.forgot a{
	color:#212121;
	font-size:14px;
	text-decoration:none;
}
.forgot a:hover{
	color:#d8703f;
}
.login h4{
	margin: 2em 0 0.5em;
    font-size: 1.5em;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
}
.login p{
	font-size:14px;
	color:#999;
	line-height:1.8em;
	margin:0;
	text-align:center;
}
.login p a{
	color:#d8703f;
	text-decoration:none;
	font-size: 1.2em;
	padding: 0 .5em;
}
.login p a:hover{
	color:#212121;
}
.login p a span{
	top: 0.1em;
    font-size: .7em;
    left: 0.3em;
}
/*-- //login --*/


/*-- register --*/
.register h3:before{
	left:20%;
}
.register h3:after{
	right:20%;
}
.login-form-grids h5,.login-form-grids h6{
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
	margin:0 0 2em;
}
.login-form-grids input[type="text"]{
	background:url(../images/img-sp.png) no-repeat 5px -259px #fff;
}
.login-form-grids input[type="text"]:nth-child(2){
	background:url(../images/img-sp.png) no-repeat 0px -298px #fff;
	margin:1em 0;
}
.register-check-box label{
	font-size:14px;
	font-weight:500;
	color:#999;
	margin: 1.5em 0 0 0em;
}
.checkbox {
    position: relative;
	padding-left: 38px !important;
    cursor: pointer;
}
.checkbox i {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    outline: none;
    border: 2px solid #EDEDED;
    background: #FFF;
}
.checkbox input + i:after,.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input:checked + i:after,.radio input:checked + i:after{
    opacity: 1;
}
.checkbox input,.radio input {
    position: absolute;
    left: -9999px;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/check.png") no-repeat 1px 2px;
    top: 0px;
    left: 2px;
    width: 16px;
    height: 16px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.login-form-grids h6{
	margin:3em 0 2em !important;
}
.login-form-grids input[type="password"]:nth-child(3) {
    margin:1em 0;
}
.register-home{
	margin:2em 0 0;
	text-align:center;
}
.register-home a{
	padding: 8px 45px;
    background: #9F9F9F;
	color:#fff;
	font-size:1em;
	text-decoration:none;
}
.register-home a:hover{
	background:#d8703f;
}
/*-- //register --*/

/*-- mail --*/
.mail h3:before{
	left:25%;
}
.mail h3:after{
	right:25%;
}
.mail-grids{
	margin:3em 0;
}
.mail-grid-left input[type="text"],.mail-grid-left input[type="email"],.mail-grid-left textarea{
	outline: none;
    border: 1px solid #E4E4E4;
    background: #f5f5f5;
    font-size: 14px;
    color: #212121;
    padding: 10px;
    width: 100%;
}
.mail-grid-left input[type="email"]{
	margin:1em 0;
}
.mail-grid-left textarea{
	min-height:200px;
	margin:1em 0 .8em;
}
.mail-grid-left input[type="submit"]{
	outline:none;
	border:none;
	background:#d8703f;
	font-size:1em;
	color:#fff;
	padding:10px 0;
	width:30%;
}
.mail-grid-left input[type="submit"]:hover{
	background:#ffc229;
}
.mail-grid-right1{
	padding:2em;
	background:#ffc229;
	text-align:center;
}
.mail-grid-right1 img {
    margin: 0 auto;
    padding: .5em;
    border: 1px dotted #212121;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
}
.mail-grid-right1 h4{
	font-size:1em;
	color:#212121;
	margin:1em 0;
	text-transform:uppercase;
}
.mail-grid-right1 h4 span{
	display: block;
    text-transform: capitalize;
    font-size: .8em;
    color:#FFFFFF;
    margin: .5em 0 0;
}
.mail-grid-right1 ul.phone-mail li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	color:#FFFFFF;
}
.mail-grid-right1 ul.phone-mail li a{
	color:#FFFFFF;
	text-decoration:none;
}
.mail-grid-right1 ul.phone-mail li a:hover{
	color:#212121;
}
.mail-grid-right1 ul li i{
	left:-.5em;
}
ul.phone-mail {
    margin: 0 0 2em;
}
.mail iframe{
	width:100%;
	min-height:300px;
	padding:0 1em;
}
/*-- //mail --*/











